
html {
    scroll-behavior: smooth;
  }
body{
	/* line-height: 1.5; */
	font-family: 'Poppins', sans-serif !important;
    background-color: #dfdfdf !important;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s linear;
}
html{
    font-size: 60%;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #dfdfdf;
    padding: 2rem 9%;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .1);
}
.logo{
    font-size: 25px;
    /* color: #000; */
    font-weight: 500;
    background-color: rgb(31, 28, 28);
    width: 100px;
    border-end-end-radius: 20px;
}
.navbar a{
    font-size: 19px;
    color: #000;
    margin: 0 25px;
}
.navbar a:hover{
    color: orangered;
}
.icons a{
    font-size: 2rem;
    color: #000;
    margin-left: 1.5rem;
}
.icons a:hover{
    color: orangered;
}
#menu-bar{
    font-size: 32px;
    padding: 8px 16px;
    border: 2px solid #000;
    color: #000;
    border-radius: 6px;
    cursor: pointer;
    display: none;
}


#head1-1{
    margin-top: 130px;
    margin-bottom: 60px;
}
h1{
    font-size:45px !important;
    font-weight: 700 !important;
    color: #3b1616 !important; 
    
    box-shadow: #f50a0a 0.6;
    

}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.card{
    box-shadow: 0 0 5px black;
}
.card img:hover{
    transform: scale(1.3);
    cursor: pointer;
}
.card h5{
    font-size: 25px;
    font-weight: bold;
}
.card p{
    font-size: 20px;
    font-weight: 500;
}
.checked{
    font-size: 15px;
    color: #f5b500;
}
#btn2{
    letter-spacing: 1px;
    font-size: 19px;
   text-align: center;
   margin-top: 10px;
}
#btn2 button{
   width: 150px;
   height: 50px;
   background-color: #f50a0a;
   border: none;
   font-weight: bold;
   letter-spacing: 3px;
   transition: 0.3s ease;
   cursor: pointer;
   border-radius: 5px;
}
#btn2 button:hover{
    letter-spacing: 1px;
    color: white;
    /* transform: scaleX(1.1); */
   background-color: #f50a0a;
   box-shadow: 0 0 5px #f50a0a,
               /* 0 0 20px #f50a0a,
               0 0 60px #f50a0a,
               0 0  150px #f50a0a; */
}

.back-to {
   position: fixed;
   color: black;
   font-size: 40px;
    width: 50px !important ;
    height: 50px;
    bottom: 40px;
    right: 50px;
}
@media (max-width:768px){
    #menu-bar{
        display: inline-block !important;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: -120%;
        width: 100%;
        background: #eee;
        border-top: .1rem solid rgba(0, 0, 0, .1);
    }
    header .navbar a{
        font-size: 2rem;
        background: #fff;
        border: .1rem solid #000;
        border-radius: .5rem;
        padding: 1rem;
        margin: 1rem;
        display: block;
        text-align: center;
    }
    header .navbar.active{
        /* left: 0px; */
        display: inline;
    }
    .card img:hover{
        transform: scale(1.09) !important;
    }

}