

html {
    scroll-behavior: smooth;
  }
body{
	/* line-height: 1.5; */
	font-family: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s linear;
}
html{
    font-size: 60%;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #dfdfdf;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .1);
}
.logo{
    font-size: 25px;
    /* color: #000; */
    font-weight: 500;
    background-color: rgb(31, 28, 28);
    width: 100px;
    border-end-end-radius: 20px;
}
.navbar a{
    font-size: 19px;
    color: #000;
    margin: 0 25px;
}
.navbar a:hover{
    color: orangered;
}
.icons a{
    font-size: 2rem;
    color: #000;
    margin-left: 1.5rem;
}
.icons a:hover{
    color: orangered;
}
#menu-bar{
    font-size: 32px;
    padding: 8px 16px;
    border: 2px solid #000;
    color: #000;
    border-radius: 6px;
    cursor: pointer;
    display: none;
}
/* end header  */








.gridywrap div[class*="gridy"] {
    background: #eee;
    box-shadow: inset 0 0 0 1px #ddd;
    padding: 15px;
    float: left;
    position: relative;
  }
  /* .gridywrap .gridy-1,
  .gridywrap .gridy-2,
  .gridywrap .gridy-3 {
    width: 320px;
    overflow: hidden;
  }
   */
  .gridywrap .gridy-1 {
    width: 100%;
  }
  .gridywrap .gridy-2 {
    width: 100%;
  }
  .gridywrap .gridy-3 {
    width: 100%;
  }
  
  .gridywrap .gridyhe-1 {
    height: 320px;
  }
  .gridywrap .gridyhe-2 {
    height: 320px;
  }
  
  @media screen and (min-width: 640px) {
    .gridywrap .gridyhe-2 {
      height: 320px;
    }
    .gridywrap {
      width: 100%;
    }
    .gridywrap .gridy-1 {
      width: 50%;
    }
    .gridywrap .gridy-2 {
      width: 50%;
    }
    .gridywrap .gridy-3 {
      width: 100%;
    }
  }
  @media screen and (min-width: 1024px) {
    .gridywrap .gridy-1 {
      width: 33.3%;
    }
    .gridywrap .gridy-2 {
      width: 66.6%;
    }
    .gridywrap .gridy-3 {
      width: 100%;
    }
    .gridywrap .gridyhe-2 {
      height: 640px;
    }
  }
  
  /*styling*/
  .gridywrap .gridimg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
  }
  .gridywrap .gridimg img {
    width: 100%;
  }
  .gridywrap .gridinfo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    transition: all 0.8s;
  }
  .gridywrap .gridinfo h3 {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin: 130px 0 20px;
    position: relative;
  }
  .gridywrap .gridinfo h3:after {
    content: "";
    width: 25px;
    border-top: 4px solid #fff;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
  }
  .gridywrap .gridinfo .gridmeta {
    transition-delay: 0.25s;
  }
  .gridywrap .gridinfo .gridmeta p {
    display: inline-block;
    font-size: 13px;
    color: #fff;
    margin-bottom: 15px;
  }
  .gridywrap .gridinfo .gridmeta p i {
    margin-right: 5px;
  }
  .gridywrap .gridinfo .gridmeta p.gridwho {
    margin-left: 25px;
  }
  .gridywrap .gridinfo p.gridexerpt {
    width: 60%;
    margin: 0 auto;
    line-height: 22px;
    margin-bottom: 25px;
    color: #fff;
    transition-delay: 0.5s;
  }
  
  .gridywrap .gridinfo * {
    opacity: 0;
    transition: all 0.8s;
  }
  .gridywrap .gridinfo h3 {
    opacity: 1;
  }
  .grid-btn {
    color: #fff;
    text-decoration: none;
    margin: 0 auto;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 25px;
    border: 1px solid #fff;
    display: block;
    overflow: hidden;
  }
  .gridywrap .gridinfo .grid-btn:hover {
    width: 75px;
    background: rgba(0, 0, 0, 0.3);
  }
  .gridywrap .gridinfo .grid-btn span {
    opacity: 0;
    display: none;
    transition: opacity 0.8s;
  }
  .gridywrap .gridinfo .grid-btn:hover span {
    opacity: 1;
    display: inline;
  }
  .gridywrap .gridinfo .grid-btn:hover i {
    opacity: 0;
    display: none;
  }
  
  .gridywrap .gridinfo:hover * {
    opacity: 0.7;
  }
  .gridywrap .gridinfo:hover p {
    opacity: 1;
  }
  .gridywrap .gridinfo:hover {
    background: rgba(244, 73, 73, 0.7);
  }
  .gridywrap .gridinfo:hover h3 {
    margin-top: 70px;
    opacity: 1;
  }
  
  .intro {
    text-align: center;
    padding: 25px;
    background: #111;
    color: #ddd;
  }
  h1 {
    font-size: 50px;
    font-weight: 600;
    padding: 15px 0;
  }
  .intro p {
    opacity: 0.5;
    font-size: 19px;
    /* cursor: pointer; */
  }
  .intro p a {
    color: #f30404;
    padding-left: 20px;
    font-weight: 900;
  }
  .intro p a:hover{
    /* transform: scaleX(1.4) !important; */
    font-size: 29px;
  }
  .abt-riding{
    margin-top: 70px !important;
  }
  .home #prev, .home #next{
    top: 67% !important;
  }













/* .text-change{
    margin: auto;
    margin-top: 300px !important;
} */
.check{
    font-size: 30px;
    display: inline;
    color: #000;
    /* margin-top: 600px !important; */
    margin-left: 33px;
    padding-top: 200px;
}

@media(max-width: 767px){
    .check{
        font-size: 25px;
    }
    .content span{
        font-size: 50px !important;
        line-height: 65px;
    }
    .home{
        margin-top: 0px !important;
    }
    .home #prev,.home #next{
        margin: -40px !important;
        margin-top: -160px !important;
        font-size: 20px !important;
    
    }
}


.changecontent:after{
    content: ' ';
    color: #f80404;
    text-shadow: 1px 1px 1px black;
    animation: changetext 10s infinite linear;
}
@keyframes changetext{
    0%{content: "Helmets";}
    20%{content: "Touring Jacket";}
    40%{content: "Shoes";}
    60%{content: "Off-Road Gears";}
    80%{content: "Pants";}
    100%{content: "Glovees";}
}







  section{
      padding: 0 9% 0 9%;
  }
.home{
    padding: 0;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)) ,url(img/moto2.jpg);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* margin-top: -500px; */
    margin-bottom: 30px;
}
.slide{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2px;
    padding: 0 9%;
    padding-top: 60px;
}
.content{
    flex: 1 1 350px;
    animation: slideContent .3s linear 1s backwards;
}
@keyframes slideContent{
    0%{
        opacity: 0;
        transform: translateX(-200px);
    }
}
.slide .image{
    flex: 1 1 60px;
    padding-bottom: 80px;
    position: relative;
    z-index: 0;
}
.shoe{
    width: 100%;
    transform: rotate(0deg);
    animation: shoe .3s linear;
    border-radius: 20px;
}
@keyframes shoe{
    0%{
        transform: rotate(0deg) scale(-1.5);
    }
}
.content span{
    font-size: 62px;
    color: orangered;
    font-weight: 600;
}
.content h3{
    font-size: 80px;
    color: #fefcfc !important;
}
.content p{
    margin-top: 30px;
    font-size: 19px;
    color: white;
    padding: 8px 0;
    font-weight: 600;
}
.btn{
    display: inline-block;
    margin-top: 16px;
    border-radius: 10px;
    border: 2px solid #000;
    font-weight: bolder;
    font-size: 15px;
    color: #000;
    cursor: pointer;
    background: #fff;
    padding: 10px 20px;
    margin-left: 10px;
}
.btn:hover{
    background-color: red;
    color: white;
    transform:scaleX(1.1);
    font-weight: 500;
}
.slide-container{
    display: none;
    padding-top: 0px;
}
.slide-container.active{
    display: block;
}
.home #prev,.home #next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 10px;
    color: #fbf9f9;
    border:2px solid #fffefe;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}
.home #prev:hover,.home #next:hover{
    color: #130f0f;
    background: orangered;
}
.home #prev{
    left: 48px;
}
.home #next{
    right: 48px;
}

/* end home  */







.product{
    background-color: #dfdfdf;
    /* background-image: url(img/bg-bike.jpg); */
    /* margin-bottom: 30px; */
    padding-bottom: 90px;
   
    
}
.heading{
    text-align: center;
    font-size:50px;
    padding: 10px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-top: -70px;
    padding: 60px 0 60px 0;
}
.heading span{
    color: rgb(252, 118, 69);
    font-size: 48px !important;
}
.box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.box{
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    background: #f5f5f5;
    flex: 1 1 280px;
}
.box:hover{
    border: 1px solid rgb(48, 47, 47) !important;
}
.content{
padding: 15px;
}
.product .content p{
  font-size: 12px;
  text-align: left;
  margin: 0px;
  color: black;
  /* padding-bottom: 0px; */
  justify-content: center;
  
}
.box img{
    height: 200px;
    transform: rotate(0deg);
    margin: 30px 30px;
}
.box:hover img{
    transform: rotate(0deg) scale(1.4);
    cursor: pointer;
}

.box .img1{
    height: 300px;
    transform: rotate(0deg);
    margin: 20px 0px;
}
.box:hover .img1{
    transform: rotate(0deg) scale(1.3);
    cursor: pointer;
}

.box .content h6{
  /* text-align: right; */
  padding: 5px;
  margin-left: 160px;
  background-color: #080808;
  font-size: 15px;
  color: white;
}
.stars{
  text-align: left;
  /* padding: 10px; */
}
.stars i{
  font-size: 14px;
  color: #f20909;
  padding-top: 10px;
}

.box .content h3{
    color: #000 !important;
    font-size: 20px;
    text-align: left;
}
.price{
    color: #f9f8f8 !important;
    font-size: 18px !important;
    font-weight: bolder;
    padding: 8px 0;
    background-color: red;
    border-radius: 20px;
    width: 170px;
    text-align: center;
    /* align-items: center; */
    margin: auto;
    cursor: pointer;
}
/* .price span{
    color: #000 !important;
    font-size: 25px !important;
    text-decoration: line-through;
} */
.price1{
    color: #f9f8f8;
    font-size: 20px;
    font-weight: bolder;
    padding: 8px 0;
    background-color: red;
    border-radius: 20px;
    width: 240px;
    /* align-items: center; */
    margin: auto;
}
/* .price1 span{
    color: #000;
    font-size: 1.5rem;
    text-decoration: line-through;
} */
/* @media screen and (max-width:770px){
    .price,.price1{
        color: #f9f8f8;
        font-size: 1px;
        font-weight: bolder;
        padding: 8px 0;
        background-color: red;
        border-radius: 20px;
        width: 240px;
        height: 60px;
        margin: auto;
    }
    .price span, .price1 span{
        color: #000;
        font-size: 30px !important;
        text-decoration: line-through;
    }
} */
/* .stars{
    padding-bottom: 1rem;
}
.stars i{
    font-size: 1.7rem;
    color: orangered;
} */
/* end product  */








 /* SERVICE */


.service{
    /* margin-bottom: 90px !important; */
}
.title-1 span{
    color:black;
    font-size: 50px;
    font-weight: 700;
}
.title-1{
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    margin: auto;
    text-align: center;
    align-items: center;
    padding: 20px;
    font-size: 50px;
    color: rgb(252, 118, 69);
    font-weight: bolder;
}
.service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding-inline: 30px;
    cursor: pointer;
    line-height: 25px;
  }
  
  .service-item { width: 220px; }
  
  .service-card {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .service-card .card-icon {
    /* background: ; */
    min-width: 55px;
    height: 55px;
    border-radius: 50%;
    display: grid;
    place-items: center;
  }
  
  .service-card .card-icon img {
    /* filter: brightness(0) invert(1); */
    width: 130%;
    height: auto;
  }
  
  .service-card .card-title {
    font-size:15px;
    margin-bottom: 10px;
  }
  
  .service-card .card-text {
    color: red;
    font-size: 15px;
  }
  
  /* .service-card .card-text span {
    display: inline-block;
  } */
  
  







.featured {
    margin-top: 60px !important;
    /* padding-top: 450px !important; */
  }

.featured .row{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border: 5px solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
    background: #f9f9f9;
    padding: 2rem;
    align-items: center;
    margin: 1.5rem 0;
    
}
.featured .row .content{
    flex: 1 1 40rem;
}
.featured .row .image-container{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    flex: 1 1 50rem;
}
.small-image{
    width: 20%;
}
.big-image{
    width: 80%;
    padding: 1rem;
}
.small-image img{
    width: 100%;
    padding: 1rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    cursor: pointer;
}
.small-image img:hover{
    background: #ccc;
}
.big-image img{
    width: 100%;
}
.big-image img:hover{
    transform: scale(1.05);
}
.content h3{
    font-size: 2.5rem;
    color: #000;
}

.featured .row .content p{
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}
.content .price{
    font-size: 2.5rem;
    color: #000;
    font-weight: bolder;
    text-align: center !important;
}
.price span{
    font-size: 1.5rem;
    color: orange;
    text-decoration: line-through;
}
.price2{
    color: #f9f8f8 !important;
    font-size: 18px !important;
    font-weight: bolder;
    padding: 8px 0;
    background-color: red;
    border-radius: 20px;
    width: 200px;
    text-align: center;
    
    cursor: pointer;
}
/* end featured  */










.query{
    background-color:#dfdfdf;
    padding: 30px;
    margin-top: 30px;
    justify-content: center;
} 
.forms {
    display: flex;
    /* height: 100vh; */
    
  }
  
.left {
    /* margin-top: -130px; */
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    animation-name: left;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 1s;
    align-items: center;
    background-color: #797878;
    /* margin: 0 0 0 60px !important; */
    border-radius: 30px;
    width: 500px !important;
    padding: 30px;
}
  
  .right {
    flex: 1;
    background-color: black;
    transition: 1s;
    background-image: url(img/bg-bike.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;
    height: 500px;
    margin-left: 30px;
  }

  
.header  h2 {
    margin: 0;
    color: #1d1d2f;
    font-size: 30px;
    text-align: justify;
  }
  
.header  h4 {
    margin-top: 15px;
    font-weight: 500;
    font-size: 15px;
    color: black;
    align-items: center;
    text-align: center;
  }
  
.form {
    max-width: 80%;
    display: flex;
    flex-direction: column;
  }
  
.form  p {
    text-align: justify;
    text-align: center;
    padding: 15px;
  }
  
.form  p a {
    color: #000;
    font-size: 14px;
    text-align: center !important;
    /* padding: 20px; */
    margin-top: 30px !important;
  }
  
.form-field {
    height: 46px;
    /* width: 300px; */
    padding: 0 20px;
    border: 2px solid black;
    border-radius: 4px;
    font-family: "Rubik", sans-serif;
    outline: 0;
    transition: 0.2s;
    margin-top: 20px;
  }
  
.form-field:focus {
    border-color: #0f7ef1;
  }
  
.form  button {
    padding: 12px 10px;
    border: 0;
    background: linear-gradient(to right, #b42227 0%, #f4cfcf 100%);
    border-radius: 3px;
    margin-top: 15px;
    color: #151010;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: "Rubik", sans-serif;
    cursor: pointer;
  }
  
.animation {
    animation-name: move;
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-delay: 2s;
  }
  


    
  











.footer{
    background-image: url(img/footerbg.jpg);
    background-position-y: -100px;
    background-position-x: right;
    background-size:cover ;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*for footer alone*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;

}
  .right{
    display: none;
  }
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

































/* Responsive  */
@media (max-width:768px){
    #menu-bar{
        display: block;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: -120%;
        width: 100%;
        background: #eee;
        border-top: .1rem solid rgba(0, 0, 0, .1);
    }
    header .navbar a{
        font-size: 2rem;
        background: #fff;
        border: .1rem solid #000;
        border-radius: .5rem;
        padding: 1rem;
        margin: 1rem;
        display: block;
        text-align: center;
    }
    header .navbar.active{
        left: 0px;
    }
    .left{
        margin: auto;
    }
    .box .content h6{
      /* text-align: right; */
      padding: 5px;
      margin-left: 226px;
      background-color: #080808;
      font-size: 15px;
      color: white;
    }
    
}